#level-2 {
  width, height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 200px solid pink;
}

@keyframes level2 {
  to { opacity: 0 }
}

.level-2-answer {
  animation-name: level2;
  animation-duration: 3s;
}
