/*
black: #403F4C;
red: #E84855;
yellow: #F9DC5C;
blue: #3185FC;
pink: #EFBCD5;
*/

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

code {
  color: white;
  font-size: 14px;
}

li {
  margin-top: 2px;
}

.highlight {
  padding: 2px 3px;
  background-color: #6f99dc;
  border-radius: 2px;
  font-weight: bold;
}

a {
  color: #ddddff;
  text-decoration: none;
}

.level {
  height: 100%;
  width: 100%;
  background-color: #173463;
  color: #90b6f4;
  display: flex;
  justify-content: space-around;
}

.instructions {
  width: 60%;
  height: 80%;
  padding: 10px;
}

.title {
  font-family: 'Shrikhand', cursive;
  font-size: 26px;
  letter-spacing: 3px;
}

.lesson {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 16px;
  margin-top: -10px;
}

.editor {
  width: 90%;
  height: 44%;
  background-color: #aaa;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  margin-top: 40px;
  font-family: monospace;
  border-radius: 10px;
}

.line-numbers {
  height: 100%;
  width: 3%;
  background-color: #333;
  font-size: 18px;
  padding-right: 5px;
  color: #bbb;
}

.line-numbers > p {
  float: right;
}

.css {
  width: inherit;
  float: left;
  padding-left: 10px;
  font-size: 18px;
  color: #ddd;
  font-family: monospace;
}

#main-input {
  width: 40%;
  font-size: 14px;
  color: #333;
  font-family: monospace;
}

#main-input:focus {
  outline: none;
}

.display {
  height: 98%;
  width: 40%;
  background-color: #070710;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

#buttons {
  margin-left: 70px;
}

#buttons > button {
  font-family: sans-serif;
  text-align: center;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 20px;
  color: white;
  background-color: #48ACF0;
  border-radius: 5px;
  float: left;
}

#buttons > button:hover {
  background-color: #268AD0;
  cursor: pointer;
}

.fade {
  animation-name: button-fade;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@keyframes button-fade {
  to { background-color: #48ACF0 }
}

@keyframes error {
  to { background-color: white; }
}

.err {
  width: 40%;
  font-size: 14px;
  color: #333;
  font-family: monospace;
  outline: none;
  border: none;
  padding: 2px;
  background-color: red;
  animation-name: error;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
